@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,800&display=swap');

body {
  margin: 0px;
  margin-top: -1rem;
}

.splash-body {
  background-image: url('./assets/airbnb-main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 80rem;
  font-family: 'Raleway', sans-serif;
  width: 100vw;
  position: relative;
}

.container {
    margin: auto;
    text-align: center;
    max-width: 600px;

    &__image {
        width: 100px;
        height: auto;
    }
}

.left {
    text-align: left;
}

.nav-bar, .logo img {
  z-index: 2;
}

.logo img {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 34px;
  height: 34px;
}
.nav-bar {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.nav-bar li {
  list-style: none;
  display: inline-block;
  padding: 10px 10px 30px 10px;
  font-size: 14px;
  font-weight: 600;
}

.splash-container {
  position: absolute;
}

.nav-bar li a {
  text-decoration: none;
  color: #ffffff;
}

.nav-bar li:hover {
  border-bottom: 2px solid white;
}

.bookingbox {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  max-width: 441px;
  top: 7rem;
  left: 5rem;
  padding: 32px;
  padding-bottom: 24px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.12);
}

.bookingbox h2 {
  font-weight: 700;
  color: #484848;
  font-size: 30px;
}

.guest-options {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  width: 372px;
  padding: 32px;
  padding-bottom: 24px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.12);
}

[placeholder] {
  width: 95%;
  height: 40px;
  font-size: 20px;
  font-weight: 400;
  color: grey;
  font-family: 'Raleway', sans-serif;
}

.check-in, .check-out {
  width: 50%;
  display: inline-block;
}

label {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}
.check-in input, .check-out input {
  width: 90%;
}

input {
  margin-bottom: 10px;
  padding-left: 12px;
}

input, button.guests {
  margin-top: 10px;
}

button.guests {
  display: block;
  width: 98.5%;
  height: 46px;
  background-color: transparent;
  font-size: 20px;
  color: grey;
  text-align: left;
  padding-left: 12px;
  font-family: 'Raleway', sans-serif;
}

.arrow {
  display: inline-block;
  position: sticky;
  left: 32rem;
}

.arrow img {
  width: 12px;
  height: 12px;
  transform: rotateX(180deg);
}

button.search {
  float: right;
  height: 48px;
  width: 100px;
  border-radius: 7px;
  border: none;
  background-color: #ff5a5f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  margin-top: 2.5rem;
}

.guest-headers, .inftants, .children, .guest-count, .increment, .count, .decrement {
  display: inline-block;
}

.guest-count, .apply {
  float: right;
}

.decrement img, .increment img {
  width: 10px;
  height: 10px;
  border: .5px solid rgb(0, 132, 137);
  border-radius: 100px;
  padding: 10px;
}

.guest-option-box p {
  margin: 20px;
}

.homes-list ul li {
  list-style: none;
  display: inline-block;
}

.home-card {
  max-width: 383px;
  padding: .5rem;
}

.home-card-image {
  width: 100%;
  max-height: 255px;
}

.home-card-image img {
  border-radius: 4px;
  width: 100%;
  height: auto;
}

.home-sub-card .home-info {
  font-size: .8rem;
  color: #767676;
  font-weight: 800;
  text-transform: uppercase;
  margin: .5rem 0rem;
}

.home-sub-card .home-info .bullet {
  margin: 0px 2px;
}

.home-sub-card .home-name {
  font-size: 18px;
  color: #484848;
  font-weight: 600;
  margin-bottom: 2px;
}

.home-sub-card .home-rate {
  font-size: 14px;
  font-weight: 400;
  color: #484848;
  margin: 4px 0px;
}

.home-sub-card .rating-star {
  width: 10px;
  display: inline-block;
  margin-right: 5px;
}

.home-sub-card .rating-star img {
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
}
